form {
  height: 2em;
  border: thin solid #ddd;
  padding: 2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
}

.button {
  margin-left: 0.5rem;
  font-size: x-large;
}
.text-input {
  font-size: x-large;
  width: 25rem;
}
